



// Home Style 





#home {
 position: relative;
 background-image: linear-gradient(to top right, whitesmoke, #C4FFF9);

 height: 71.5vh;
 overflow: hidden;


 figure {
  position: absolute;
  top: 13.5%;
  right: 5%;
 }

 article {
  margin: 8rem 0 0 10rem;
  width: 50%;
  position: absolute;

  h1 {
   font-size: 2.5rem;
   font-weight: 900;
  }

  p {
   width: 70%;
   margin-top: 1rem;
   font-weight: 500;
  }

  button {
   display: inline-block;
   margin-top: 2rem;
   padding: 1rem;
   font-weight: 800;
   font-size: 0.9rem;
   border: none;
   border-radius: 0.3rem;
   color: white;
   background-color: #018b87;
   cursor: pointer;

   &:hover {
    background-color: #016e6b;
   }
  }

  &::after {
   content: "";
   position: absolute;
   top: 15%;
   left: 90%;
   width: 40rem;
   height: 40rem;
   border-radius: 50%;
   background-image: linear-gradient(to top right, #d2f5f7, #C4FFF9, #ffea006e);
  }

 }

 &::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -5%;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, #d2f5f7d5, #C4FFF9, #ffea006e);
 }


}

// Home Style End

// @media screen and (max-width:1280px) {
//  #home {
//     height: 10vh;
//    }

//    figure{
//     top: 18%;
//    }
// }